<div>
  <nav class="navbar navbar-expand-lg nav">
    <div class="container-fluid">
      <li class="nav-item">
        <a class="nav-link navtext1 navName">
          සුවඅරණ
        </a>
      </li>
    <img  width="60" height="60" src="assets/image/suwaarana.jpg" />
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <li class="nav-item">
            <a class="nav-link navtext1" href="/">
              Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link navtext1" href="#">
              Support Services
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link navtext1" href="aboutus">
              About Us
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link navtext1" href="contacus">
              Contact Us
            </a>
          </li>
          
          
        </ul>
        <li class="nav-item">
          <a class="btn btn-warning" href="logindash">
            Login
          </a>
        </li>
      </div>
    </div>
  </nav>
</div>