<div class="logindash">
  <div >
    <div class="col" style=" margin-top: 6%;  margin-bottom: 8%; margin-left: 9%;" >
      <div class="card" style="width: 18rem; ">
        <img src="assets/image/doctorlogin.jpg" class="card-img-top" />
        <div class="card-body">
          <h5 class="card-title">Doctor Login</h5>
          <br />
          <br />
          <a href="doctorlogin" class="btn btn-primary">
            Login
          </a>
        </div>
      </div>
    </div>

    <div class="col" style=" margin-top: -30%; margin-left: 40%;">
      <div class="card" style="width: 18rem; ">
        <img src="assets/image/patientlogin.jpg" class="card-img-top" />
        <div class="card-body">
          <h5 class="card-title sss">Patient Login</h5>
          <br />
          <br />
          <a href="patientlogin" class="btn btn-primary">
            Login
          </a>
        </div>
      </div>
    </div>

    <div class="col" style=" margin-top: -22%; margin-left: 71%; margin-bottom: 2.8%;">
      <div class="card" style="width: 18rem; ">
        <img src="assets/image/pharmacylogin.jpg" class="card-img-top"  />
        <div class="card-body">
          <h5 class="card-title">Pharmacy Login</h5>
          <br />
          <br />
          <a href="pharmacylogin" class="btn btn-primary">
            Login
          </a>
        </div>
      </div>
    </div>
  </div>
</div>