<div>
    <footer class="footer">
      <div class="container">
        <ul class="foote_bottom_ul_amrc">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="#">Dashboard</a>
          </li>
          <li>
            <a href="#">Resources</a>
          </li>
          <li>
            <a href="#">Support</a>
          </li>
        </ul>

        <p class="text-center">
          | Copyright @ 2023 |<a href="#" class="footerTxt"></a>
        </p>
      </div>
    </footer>
  </div>
