<div>
    <div>
        <nav class="navbar navbar-expand-lg nav">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ">
                        <li>
                            <h1 class="doctordashname">Doctor Dashboard</h1>
                        </li>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <li class="nav-item" >
                            <button class="btn btn-success" >
                                <a href="createpatientChecking" style="text-decoration: none; color: white">
                                    Patient Check-in
                                </a>
                            </button>
                        </li>
                        &nbsp;&nbsp;
                        <li class="nav-item">
                            <button class="btn btn-success">
                                <a href="home-patientChecking" style="text-decoration: none; color: white">
                                    All Patient Check-in Details 
                                </a>
                            </button>
                        </li>
                        &nbsp;&nbsp;
                        <li class="nav-item">
                            <button class="btn btn-success">
                                <a href="appoitnmentdetails" style="text-decoration: none; color: white">
                                    Appointment Details
                                </a>
                            </button>
                        </li>

                    </ul>
    
                </div>
                <li class="nav-item " style="margin-right: 2%;">
                    <button class="btn btn-danger " (click)="logout()">
                        Logout
                    </button>
                </li>
            </div>

        </nav>

        <div class="doctordash">
            <div style=" margin-top: 3%;  margin-bottom: 5%;  margin-left: 40%;">
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="assets/image/doctorcheking.jpg" class="card-img-top" alt="..." />
                        <div class="card-body">
                            <h5 class="card-title">Patient Check-in</h5>
                            <p></p>
                            <a href="home-patientChecking" class="btn btn-primary">
                                Click Here
                            </a>
                            &nbsp;
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>